*{
font-family: 'Cabin', sans-serif;
	font-weight: 300;
}

body{
	padding-top: 50px;
}
section{
    padding-top: 25px;
    padding-bottom: 15px;
    min-height: 100vh;
}

footer{
	background: url(../imgs/slash_it.png);
    color:#ccc;
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar-brand{
	font-weight: 700;
}

.divslider{
    color:#ccc;
	padding-top: 15px;
	padding-bottom: 15px;
	background: url(../imgs/slash_it.png);
}
.fundo
{
    background-color:"#ac322a";
    min-height: 50vh;
    min-width: 40vw;
}

.div-colorida{
	background: url(../imgs/slash_it.png);
    color:white;
    
}
.servicos-item *{
    text-align: justify;
}
.aviso{
    padding: 15px;
}

section#contato{
    min-height: 60vh;
}

.conteudo_painel{
    background: white;
}
.conteudo_painel_int{
    padding: 12px;
    border-radius: 8px;
    border:1 solid #eee;
   
}